@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-size: 62.5%;
}

html{
    height: 100%;
}
/* body {
    background-image: url("../huichahue/IMAGENES/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    Dejamos una imagen de fondo para nuestro body
} */
body{
    background-image: url(".//IMAGENES/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    max-width: 1200px;
    font-family: 'Bangers', cursive;
    margin: 0 auto;
    color: black;
    min-height: 100%; /*para el footer*/
    flex-direction: column; /*para el footer*/
    /* Dejamos una imagen de fondo para nuestro body */

}

/* INICIO HEADER */
header {
    position: sticky;
    width: 100%;;
    z-index: 1;/* Fijamos esta barra para que aparezca siempre que hacemos scroll */
    top: 0;
    padding-top: .5rem;
    /* Generamos un margen interno para que el logo no tope arriba */
    background-color: rgba(0, 0, 0, 0.9);
}
.contenedor-image {
    display: flex;
    justify-content: center;
    /* Centramos el logo en la barra */
}
.barra-nav{
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* Ubicamos con el mismo espacio  alrededor para hacerlo responsivo */
}
#menu {
    position: relative;
    left: 20px;
    bottom: 15px;

     /* Ubicamos por sobre el contenedor para nivelarlo en la barra sin afectar a los botones en el centro */
}
.botones {
    /* Diseño visual de botones */
    
    background-color:rgba(0, 0, 0, 0.509);
    border: #D9902C;
    border-radius: 1rem;
    border-style: groove;
    padding: 0 3vh;
    text-align: center;
    height: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Bangers', cursive;
    font-weight: 400;
    font-size: 20px;
    /* Diseño visual de botones */
}
a:hover {
    color: #D9902C;
    /* Cambio de color para cursor */
}
/* FIN DEL HEADER */

.container-title{
    width: 100%;
    background-color: rgba(229, 218, 218, 0.548);
}

#titulo-tienda{
    font-size: 40px;
    font-family: 'Bangers';
    text-align: center;
    padding: 30px;
    padding-bottom: 10px;
}

.boton{
    font-family: 'Bangers';
    padding: 20px;
    border-radius: 50px;
    background-color: burlywood;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    cursor: pointer;

}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #fff;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/*Estilos de header*/
/*header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}*/ 

.container-icon{
    position: relative;

}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-icon{
    margin-right: 20px;
    position: relative;
    bottom: 10px;
    
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 15px;

}

.btn-add-cart{
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20); /*línea del total*/

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;    
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/*Main*/
.container-items{
    font-family: sans-serif, cursive;
    font-size: 6rem;
    background-color: rgba(229, 218, 218, 0.555);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 20px;
}

.info-product h2{
    font-size: large;
    font-family: 'Bangers';
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover; /*Fuerza una imagen a que se centre independiente*/
    border-radius: 10px 10px 0 0; 
    transition: all .5s; /*le da el efecto bonito al zoom in*/
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.3); /*Agrega el zoom in, pero no tan bonito*/
}

.info-product{
    min-height: 340px;
    padding: 15px 30px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    align-self: end;
    align-self: center;
    position: relative;
    bottom: 0%;
    border: none;
    background: none;
    background-color: black;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .container-items{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
}

@media screen and (max-width: 400px) {
    .container-items{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}












/************************************ INICIO VERIFICACIÓN EDAD ************************************/

#container-verificacion-edad{
    opacity: .3;
}

.pop-up{
    width: 100%;
    height: 350px;
    position: fixed;
    background-color: #FFFFFF;
    top: 50%;
    margin-top: -100px;
    padding: 40px;
    text-align: center;
    background-color: rgba(247, 247, 247, 0.8);
}

.pop-up h1{
    font-size: 24px;
    font-family: 'Bangers', cursive;
    color: #D9902C;
}

.pop-up p{
    font-size: 22px;
    font-family: 'Bangers', cursive;
    color: #4d4747;
}

.pop-up .boton {
    background-color: #2A2929;
    font-size: 18px;
    font-family: 'Bangers', cursive;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    width: 150px;
    margin-top: 32px;
    align-items: center;
    gap: 30px;
    margin: 30px;
}
/******************************** FIN VERIFICACIÓN EDAD ************************************/


      /*Carrusel*/

      .container{
        margin: auto;
        background-color: rgba(67, 51, 40, 0.418); /*opacidad recuadro alrededor*/
        width: 850px;
        padding: 85px;
        
        
      }
      
      ul, li {
          padding: 0;
          margin: 0;
          list-style: none;
      }
      
      ul.slider{
        position: relative;
        width: 680px;
        height: 300px;
      }
      
      ul.slider li {
          position: absolute;
          left: 0px;
          top: 0px;
          opacity: 0;
          width: inherit;
          height: inherit;
          transition: opacity .5s;
          background:#ebd5b6e5;
      }
      
      ul.slider li img{
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
      
      ul.slider li:first-child {
          opacity: 1; 
      }
      
      ul.slider li:target {
          opacity: 1; 
      }
      
      .menu{
        text-align: center;
        margin: 20px;
      }
      
      .menu li{
        display: inline-block;
        text-align: center;
      }
      
      .menu li a{
        display: inline-block;
        color: rgb(243, 134, 9);
        text-decoration: none;
        background-color: rgb(254, 254, 255);
        padding: 10px;
        width: 20px;
        height: 20px;
        font-size: 20px;
        border-radius: 100%;
      }

* {
    margin: 0;
    box-sizing: border-box;
}
 
.rectangulo2 {  /*Productos destacados*/
    position: relative;
    width: 1365px;           
    height: 80px;          
    background: rgb(0, 0, 0);        
    border: 2px solid #e37c14; 
    margin: -50px;
    border-style: groove;  
    text-align: center;
    font-family: 'Bangers';
    color: #fffefc;
    font-size:xx-large;
    font-weight: 400;
    line-height: 70px;
  }


.rectangulo3 {  /*Packs*/
    position: relative;
    width: 1365px;           
    height: 80px;          
    background: rgb(0, 0, 0);        
    border: 2px solid #e37c14; 
    margin: -50px;
    border-style: groove;  
    text-align: center;
    font-family: 'Bangers';
    color: #fffefc;
    font-size:xx-large;
    font-weight: 400;
    line-height: 70px;
    font-style: normal;
}
.burbujas {
position: relative;
width: 1314px;

}


.rectangulo4 {  /*ObjetivoSocioambientales*/
    position: relative;
    width: 1365px;           
    height: 80px;          
    background: rgb(0, 0, 0);        
    border: 2px solid #e37c14; 
    margin: -50px;
    border-style: groove;  
    text-align: center;
    font-family: 'Bangers';
    color: #fffefc;
    font-size:xx-large;
    font-weight: 400;
    line-height: 70px;
    font-style: normal;
}

.objetivosoc {
    position: relative;
    width: 900px;
}

/************************************ INICIO FOOTER ************************************/
body {
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;

    min-height: 100%;

    display: flex;
    flex-direction: column;
}

.containerfoooter {
    max-width: 1170px;
    margin:auto;
}

.rowfooter {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: 	#FFFFFF;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
    width: 100%;
    height: auto;
    margin-top: auto;
}

.footer-col {
    width: 20%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    font-family: 'Bangers', cursive;
    position: relative; 
}
.footer-col h4 ::before { 
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color:#ffffff;
    text-decoration: none;
    font-weight: 300;
    color: 	#FFFFFF;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 5px;
}

.footer-col .redes-sociales-link a {
    display: block;
    position: relative;
    height: 50px;
    width: 50px;
    margin: 0 -10px -15px 0;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.footer-col .redes-sociales-link ul li {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-bottom: 0.2px;
    text-align: center;
}

.footer-col .partners-logos ul{
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-texto-copyright {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: 	#999;
    width: 100%;
    padding: 8px 40px;
    align-items: baseline;
}

@media (max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width:574px) {
    .footer-col{
        width: 100%;
    }
}
/************************************ FIN FOOTER ************************************/


/************************************ SOBRE NOSOTROS ************************************/

main {
    background-color: rgba(255, 255, 255, 0.55);
    overflow-x: hidden;
}

.titulosection1 {
    font-size: 40px;
    font-family: 'Bangers';
    text-align: center;
    padding: 30px;
    padding-bottom: 10px;
}

.sobrenosotros {
    padding: 40px;
}

.sobrenosotros p {
    font-size: 30PX;
    font-family: 'Open Sans';
}

.nuestrahistoria, .mundoconsciente, .mision, .vision {
    /*background-color: rgba(172, 255, 47, 0.229);
    border-radius: 30px;*/
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
}

@media (min-width: 768px) {
    .nuestrahistoria, .mundoconsciente, .mision, .vision {
      flex-direction: row;
    }
    
    .video-nuestrahistoria, .image-mundoconsciente, .image-mision, .image-vision {
      width: 50%;
    }
    
    .text-nuestrahistoria, .text-mundoconsciente, .text-mundoconsciente, .text-mision, .text-vision {
      width: 50%;
    }
  }
  
  @media (max-width: 767px) {
    .nuestrahistoria, .mundoconsciente, .mision, .vision {
      flex-direction: column;
    }
    
    .video-nuestrahistoria, .image-mundoconsciente, .image-mision, .image-vision, .text-nuestrahistoria, .text-mundoconsciente, .text-mundoconsciente, .text-mision, .text-vision {
      width: 100%;
    }
  }

.titulosection2 {
    font-size: 40px;
    font-family: 'Bangers';
    text-align: center;
    padding-bottom: 40px;
}

.nuestroscolaboradores {
    background-color: rgba(255, 255, 255, 0.405);
    padding: 30px;
    
}

.btncolaboradores1, .btncolaboradores2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px;
}

.btncolaboradores1 button, .btncolaboradores2 button {
    background: none;
    border: none;
    border: none;
    background: none;
}

.btncolaboradores1 button img, .btncolaboradores2 button img {
    cursor: pointer;
}


/************************************ FIN SOBRE NOSOTROS ************************************/

/************************ INICIO FOOTER ************************/
.footer {
    background-color: #24262bce;
    padding: 20px 0; 
    width: 100%;
    height: auto;
    margin-top: auto;
   /*  position: fixed; */
    margin-bottom: auto; 
    /*  poner footer abajo */
    left: 0;
    bottom: 0;
    width: 100%;
}

.containerfoooter {
    max-width: 1170px;
    margin: auto;
}

.rowfooter {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: 	#FFFFFF;
}

.footer-col {
    width: 20%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Bangers';
    position: relative; 
}
.footer-col h4 ::before { 
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    font-size: 14px;
    color:#ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 5px;
}

.footer-col .redes-sociales-link a {
    display: center;
    position: relative;
    height: 50px;
    width: 50px;
    margin: 0 -10px -15px 0;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.footer-col .redes-sociales-link ul li {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-bottom: 0.2px;
    text-align: center;
}

.footer-col .partners-logos ul{
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-texto-copyright {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: 	#999;
    width: 100%;
    padding: 8px 40px;
    align-items: baseline;
}

@media (max-width:768px){
    .footer-col{
        width: 40%;
        margin-bottom: 30px;
    }
}

@media (max-width:767px) {
    .footer-col{
        width: 100%;
    }
}
/************************ FIN FOOTER ************************/